/********************************************************
Header
**********************************************************/
.container-fluid {
	width: 1200px;
}

.navbar-brand {
	padding: 0;
	padding-top: 5px;
}

#logo {
	width: 80px;
}

/********************************************************
Hero Section
**********************************************************/

/********************************************************
Main Section
**********************************************************/

/********************************************************
Footer
**********************************************************/