/********************************************************
Header
**********************************************************/
body {
	font-family: 'Raleway', sans-serif;
}

.container-fluid {
	width: 1200px;
}

.navbar-brand {
	padding: 0;
	padding-top: 5px;
}

#logo {
	width: 80px;
	margin-right: 20px;
}

.navbar-default {
	margin-bottom: 0;
}

/********************************************************
Hero Section
**********************************************************/
.jumbotron {
	text-align: center;
	background-color: #268354;
	font-family: 'Nunito', sans-serif;
	margin-bottom: 0;
}

.jumbotron img {
	width: 20%;
}

.jumbotron h2 {
	color: white;
}

.jumbotron p a {
	font-family: 'Raleway', sans-serif;
}

/********************************************************
Main Section
**********************************************************/

/******************* Home ******************/
#sale-info {
	background-color: red;
	padding-top: 30px;
	padding-bottom: 30px;
	background-image: url(../img/concrete.png);
}

.home-sale {
	background-color: #638aab;
	text-align: center;
	margin-right: 30px;
	border-radius: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.home-sale:hover {
	background-color: #447cab;
	cursor: pointer;
}

.home-sale h2 {
	color: white;
	font-family: 'Nunito', sans-serif;
}

#top-reviews-heading {
	text-align: center;
	margin-top: 0;
	margin-bottom: 40px;
	color: white;
	font-family: 'Nunito', sans-serif;
}

#top-reviews {
	background-color: #268354;
	padding-top: 40px;
	padding-bottom: 40px;
}

#container {
	width: auto;
	padding-right: 0;
	padding-left: 0;
	margin-right: 100px;
	margin-left: 100px;
	border: 1px solid #333;
	border-radius: 30px;
	background-color: white;
}

.home-review {
	text-align: center;
	margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.home-review:hover {
	opacity: 0.8;
	cursor: pointer;
}

.home-review p {
	margin-right: 50px;
	margin-left: 50px;
}

#detectives img {
	width: 100%;
}

.success {
	color: #228b22;
}

.error {
	color: red;
}

#new-account {
	margin-left: 10px;
}

#errormessage {
	color: red;
}

#error-message {
	color: red;
}

/******************* Review ******************/
#review {
	width: 1200px;
	margin: 0 auto;
}

.review-btn {
	margin-top: 30px;
	border: 1px solid #15472e;
	background-color: white;
	color: #15472e;
}

.review-btn:hover {
	background-color: #15472e;
	color: white;
}

.review-img {
	text-align: center;
}

.review-img:hover {
	opacity: 0.8;
	cursor: pointer;
}

.review-p h4:hover {
	text-decoration: underline;
	cursor: pointer;
}

.review-p > p:hover {
	text-decoration: underline;
	cursor: pointer;
}

.pagination-nav {
	text-align: right;
}

.review-error {
	color: red;
}

.review-stream {
	color: #333;
}

#review-heading a {
	color: #333;
}
/******************* Review Individual******************/
#review-individual {
	text-align: center;
	padding: 60px;
	background-color: #efefef;
}

.contents {
	width: 800px;
	margin: 0 auto;
}

.comments {
	border: 1px solid #268354;
	width: 200px;
	padding: 7px;
	text-align: center;
	margin-bottom: 20px;
	background-color: #268354;
	color: white;
	border-radius: 5px;
}

#post-comment {
	margin-left: 850px;
	margin-top: 10px;
}

#comments-text {
	width: 1000px;
}

#edit-delete {
	border: none;
	background-color: transparent;
}

.group1 {
	margin-left: 25px;
	margin-bottom: 20px;
}

#give-ranking {
	margin-left: 10px;
}

#edit-toggle li, #comment-toggle li {
	text-align: center;
	
}

#edit-toggle li:hover {
	background-color: #ededed;
}


#comment-toggle li:hover {
	background-color: #ededed;
}


.delete {
	background-color: white;
	border: none;
}

.delete:hover {
	background-color: #ededed;
}

.delete a {
	color: black;
}

.delete a:hover {
	text-decoration: none;
}
/******************* Review Post***********************/
#review-post {
	width: 950px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

/******************* Main Background ******************/
.sale-calendar {
	background-image: url(../img/detectives-black.jpg);
	padding-bottom: 20px;
	padding-top: 20px;
}

.review {
	background-image: url(../img/clothes.jpg);
	padding-bottom: 20px;
	padding-top: 20px;
}

.account {
	background-image: url(../img/account.jpg);
	padding-bottom: 90px;
	padding-top: 90px;
	text-align: center;
}

.main {
	width: 1200px;
	margin: 0 auto;
	background-color: white;
	padding: 30px;
}

.signup-bg {
	background-image: url(../img/account.jpg);
	padding-bottom: 50px;
	padding-top: 50px;
}

.signup {
	width: 400px;
	margin: 0 auto;
	background-color: white;
	padding: 30px;
}

#error img {
	width: 100%;
}

/******************* My Account **********************/
#active-log div {
	border: 1px solid #333;
	margin-right: 20px;
	margin-top: 20px;
	padding: 30px;
}

#active-log div:hover {
	background-color: #268354;
	color: white;
	cursor: pointer;
}

#active-log h4 {
	font-family: 'Nunito', sans-serif; 
}

.search {
	color: #268354;
	font-family: 'Nunito', sans-serif; 
}

.admin {
	background: #268354;
	color: white;
	padding: 10px;
	width: 200px;
	margin: 0 auto;
	margin-bottom: 10px;
}
/********************************************************
Footer
**********************************************************/
footer {
	text-align: center;
	margin-bottom: 30px;
}

footer hr {
	margin-top: 0;
}

footer p {
	margin-top: 30px;
}






